@using Template.Models.livraison

@{
    ViewBag.Title = "Livraison";
    Layout = "~/Views/Shared/_Layout.cshtml"; // Indique d'utiliser le layout

    var livraison = ViewBag.Livraison as VLivraisonComplet;
    var filles = ViewBag.Filles as List<VDetailLivraisonComplet>;
}
<section class="content-header">
    <h1>
        Livraison
        <small> Fiche Livrasion </small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Livraison</a></li>
        <li class="active">Fiche Livraison</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">

    <!-- FICHE MERE -->
    <div class="box" style="width: 50%; margin-left: auto; margin-right: auto">
        <div class="box box-header with-border">
            <h3 class="box-title">Insertion LIVRAISON</h3>
        </div>
        <div class="box-body">
            <table class="table table-bordered">
                <!-- ID -->
                <tr>
                    <td>Id</td>
                    <td>@livraison.Id</td>
                </tr>

                <!-- Date -->
                <tr>
                    <td>Date</td>
                    <td>@livraison.Date</td>
                </tr>

                <!-- Magasin -->
                <tr>
                    <td>Magasin</td>
                    <td>@livraison.MNom</td>
                </tr>

                <!-- Fournisseurs -->
                <tr>
                    <td>Fournisseur</td>
                    <td>@livraison.FNom</td>
                </tr>
            </table>
        </div>
    </div>

    <!-- FICHE FILLE -->
    <div class="box"
         style="width: 75%; margin-left: auto; margin-right: auto; margin-top: 1%">

        <div class="box-body ">
            <table class="table table-bordered">
                <!-- Remarque -->
                <tr class="text-center text-bold success">
                    <td>Produit</td>
                    <td>Unite</td>
                    <td>Prix unitaire</td>
                    <td>Qte</td>
                    <td>Total</td>
                </tr>

                <!-- Bon de Commande -->
                @if (filles != null)
                {
                    foreach (var l in filles)
                    {
                        <tr>
                            <td>@l.Nom</td>
                            <td>@l.UniteNom</td>
                            <td>@l.PuProduit</td>
                            <td>@l.Qte</td>
                            <td>Ar @l.TotalAchat</td>
                        </tr>
                    }
                }
            </table>
        </div>
    </div>
</section>